@font-face {
    font-family: "Dancing Script";
    src: url("czcionki/DancingScript-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Dancing Script", serif;
    font-size: 120%;
    text-align: center;
    .main {
        display: flex;
        width: 100vw;
        .left {
            width: 30%;
        }
        .right {
            width: 70%;
        }

        aside, .header1 {
            width: 30vw;
            background-color: rosybrown;
        }

        aside {
            text-align: left;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 350px;
        }

        .header2 {
            background-color: rosybrown;
            width: 70vw;
            height: 100px;
        }

        section {
            width: 70vw;
            height: 550px;
            overflow: scroll;
        }

        label {
            line-height: 50px;
        }

        .miniatury {
            width: 150px;
            transition: width 1s ease;
        }

        .miniatury:hover {
            background-color: bisque;
            width: 200px;
        }
    }
}
