body {
    font-family: Verdanna;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    aside {
        width: 20%;
        height: 610px;
    }
    .layout {
        width: 75%;
        header, nav, footer {
            width: 80%;
            height: 50px;
            color: white;
            background: mediumpurple;
            text-align: center;
            text-shadow: 4px 4px dimgray;
        }
        header {
            display: flex;
            justify-content: center;
        }
        nav {
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }
        main {
            display: flex;
            justify-content: center;
            height: 450px;
            width: 80%;
            background: thistle;
            .inside_main{

            }
        }
        footer {
            display: flex;
            justify-content: center;
        }
    }
}
