body {
    font-family: Verdanna;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
    aside {
        width: 20%;
        height: 610px;
    }
    .layout {
        width: 75%;
        header, nav, footer {
            width: 80%;
            height: 50px;
            color: white;
            background-color: mediumpurple;
            text-align: center;
            text-shadow: 4px 4px dimgray;
        }
        header {
            display: flex;
            justify-content: center;
        }
        nav {
            display: flex;
            justify-content: center;
            padding-top: 10px;
        }
        main {
            display: flex;
            justify-content: center;
            height: 450px;
            width: 80%;
            background-color: thistle;
            #inside_main{
                font-size: 25px;
                margin: 40px auto;
                width: 70%;
                border: 2px solid mediumpurple;
                .element_of_list, .element_of_list_P {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px;
                    height: 30px;
                    button {
                        color: white;
                        background-color: mediumpurple;
                        height: 30px;
                        border: none;
                    }
                }
                .element_of_list:hover, .element_of_list_P:hover {
                    background-color: lavender;
                }
                .element_of_list_P {
                    background-color: #DDCADD;
                }
            }
        }
        footer {
            display: flex;
            justify-content: center;
        }
    }
}
