body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: #FCE4EC;

    header, footer {
        color: white;
        background-color: #880E4F;
        padding: 10px;
        letter-spacing: 20px;
    }

    main {
        display: flex;

        .left {
            width: 50%;
            height: 600px;
            overflow-y: scroll;
        }

        .right {
            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                input, button, select {
                    width: 70%;
                    margin: 5px;
                }
            }
            color: white;
            background-color: #880E4F;
            width: 40%;
            height: 500px;
            margin: 35px;
            box-shadow: 10px 10px 15px DimGray;
        }
    }
}
